---
import "@/styles/global.css";
import BaseLayout from "@/layouts/BaseLayout.astro";
const pageTitle = "About Me";
const identity = {
    firstName: "Abzal",
    middleName: "Kurmangazyuly",
    lastName: "Orazbek",
    city: "Astana",
    country: "Kazakhstan",
    occupation: "Software Engineer",
};

const skills = ["HTML", "C#", "Python"];

const h1Size = "4rem";
const h1Color = "purple";
const pSize = "1.5rem";
const skillSize = "1.2rem";
const skillWeight = "bold";
const skillColor = "crimson";
---

<BaseLayout pageTitle={pageTitle}>
    <style define:vars={{h1Color, h1Size, pSize, skillSize, skillWeight, skillColor}}>
        h1 {
            color: var(--h1Color);
            font-size: var(--h1Size);
        }
        p {
            font-size: var(--pSize);
        }
        .skill {
            font-size: var(--skillSize);
            font-weight: var(--skillWeight);
            color: var(--skillColor);
        }
    </style>
    <p>{identity.firstName} {identity.middleName} {identity.lastName}</p>
    <p>{identity.city}, {identity.country}</p>
    <p>{identity.occupation}</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</BaseLayout>
